<div class="jumbotron">
  <h1>About DrumSwap</h1>
  <br />
  <p>Here are DrumSwap, our goal is to get you that extra drum or cymbal you need to complete your kit. We know how hard it can be to get individual pieces at a reasonable price. Well, we decided to get rid of the price altogether.</p>
  <br />
  <p>Now you can simply search for the piece you need, then offer a swap. Your offer can then be accepted, rejected, or a counter offer can performed. Once an agreement is reached, arrangements for the swap can be made between members.</p>
  <br />
  <p>Coming Soon: find your location and user messaging for easier swaps!</p>
</div>
