<div class="jumbotron">
  <h1>Contact</h1>
  <p>Please feel free to contact us by any of the means below:</p>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h2>Email:</h2>
      <p>help@DrumSwap.com</p>
    </div>
    <div class="col-md-4">
      <h2>Mailing Address:</h2>
      <p>1234 Main Street</p>
      <p>City, ST 09482</p>
    </div>
    <div class="col-md-4">
      <h2>Call Us:</h2>
      <p>1-888-GET-HELP</p>
    </div>
  </div>
</div>
