<div class="jumbotron">
<h1>Welcome to DrumSwap</h1>
<p>The place where drummer's come to exchange their gear. Don't know what to do with your extra pieces once you upgrade? Not getting much money from your local music store? Worry no more, drummers come here to exchange out their old pieces for whatever they need to build that perfect kit.</p>
</div>
