/*
 *= require_tree .
 *= require_self
 */
 @import 'chosen';
 
.container {
  background: rgba(255, 255, 255, 0.7);
}

.cant-see-me {
  display: none;
}

body {
  background: url("kit.jpg") no-repeat;
  background-size: cover;
}

.btn {
  margin: 5px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
